
#loginscreen{
    height: 250px;
    border-radius: 20px;
}

.sign{
    padding-top: 3%;
    font-size: large;
    text-align: center;
}

.login_button{
    margin-left: 30%;
    width: 40%;
}

#alert{
    display: none;
}
